:root {
  box-sizing: border-box;
  --serif: serif;
  --sans-serif: system-ui, "Ubuntu", "Cabin", "IBM Plex Sans", "Trebuchet MS",
    sans-serif;
  --hue0: #0b0c0c;
  --hue1: white;
  --hue2: #f3f2f1;
  --hue3: #003078;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
main {
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
body {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  font-family: var(--serif);
}
.loading {
  opacity: 50%;
}
header {
  background-color: var(--hue0);
  padding: 0.5rem;
  text-align: end;
}
header button {
  background-color: var(--hue0);
  border: none;
  border-radius: 0.4rem;
  color: var(--hue1);
  padding: 0.5rem;
}
header button:hover {
  background-color: var(--hue2);
  color: var(--hue0);
}
footer {
  padding: 1rem;
  font-family: var(--sans-serif);
  font-size: small;
  opacity: 50%;
  text-align: end;
}
footer a {
  color: #006400;
}
h1,
h2 {
  font-family: var(--sans-serif);
}
#crux {
  padding-top: 1rem;
}
button {
  cursor: pointer;
}
#crux button[data-workflow-id] {
  font-family: var(--serif);
  padding: 1rem;
  width: 100%;
  background-color: var(--hue3);
  color: var(--hue1);
  border-color: #505a5f;
  box-shadow: 0.1rem 0.1rem 0.1rem #b1b4b6;
  border-radius: 0.4rem;
}
#crux button[data-workflow-id]:hover {
  background-color: var(--hue2);
  border-color: #b1b4b6;
  color: #000;
}

@media only screen and (min-width: 38em) {
  main {
    margin: auto;
    width: 38rem;
  }
}
