:root {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  --sans-serif: system-ui, "Ubuntu", "Cabin", "IBM Plex Sans", "Trebuchet MS",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --hue0: black;
  --hue1: white;
  --hue2: cornsilk;
  --hue10: hsl(168, 89%, 7%);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  overflow-wrap: break-word;
  color: var(--hue10);
}
header p[aria-label="authenticate"] {
  text-align: end;
}
footer p[aria-label="authenticate"] {
  text-align: end;
}

.loading {
  opacity: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
}

button {
  cursor: pointer;
}
/* cf script's: querySelectorAll(".catalog[id]"); querySelectorAll(".choices[id]") */
#crux article button.catalog[id],
#crux button.choices[id] {
  display: block;
  margin-bottom: 1em;
  overflow-wrap: break-word;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 100%;
}

@media only screen and (min-width: 16em) {
  body {
    padding: 1em;
    margin: auto;
    background-color: var(--hue10);
  }
  body,
  header a,
  footer a {
    color: var(--hue2);
  }
  #crux {
    background-color: var(--hue1);
    border-radius: 1em;
    color: var(--hue0);
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
  }
}
@media only screen and (min-width: 38em) {
  body {
    width: 38em;
  }
}
